@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 226 58% 5%; /* slate-950 */
    --foreground: 210 40% 98%; /* slate-50 */
    --card: 222 47% 8%; /* slate-900 */
    --card-foreground: 210 40% 98%;
    --muted: 217 33% 17%; /* slate-800 */
    --muted-foreground: 215 20% 65%; /* slate-400 */
    --primary: 38 92% 50%; /* amber-500 */
    --primary-foreground: 226 58% 5%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 38 92% 50%;
    --radius: 0.5rem;
  }

  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
